<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.wogri.studio-cam-detector</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/wogri/Documents/Repo/HelperSoftware/studio-cam-detector/studio-cam-detector</string>
        <string>--camera=Studio Display Camera</string>
        <string>--watch</string>
        <string>--off-command=./hass_off.sh</string>
        <string>--on-command=./hass_on.sh</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/wogri/Documents/Repo/HelperSoftware/studio-cam-detector</string>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>/Users/wogri/Documents/Repo/HelperSoftware/studio-cam-detector/logs/studio-cam-detector.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/wogri/Documents/Repo/HelperSoftware/studio-cam-detector/logs/studio-cam-detector.error.log</string>
    
    <key>ThrottleInterval</key>
    <integer>10</integer>
</dict>
</plist>
